.wrapTeclado {
  /* position: fixed;
  right: 25%;
  bottom: -2px;
  z-index: 100000; */
  width: 100%;
}

.teclado {
  background: #151516;
  box-shadow: 0 0 4px -1px rgb(238, 238, 238);
  border-radius: 2px;
  /* margin-top: 1.25em; */
  padding: 10px 40px;
  text-align: center;
}

.simple-keyboard.myTheme1 {
  background-color: transparent;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard .hg-row:nth-child(3n + 2) {
  padding: 0 10px;
}

.simple-keyboard .hg-row:nth-child(3n + 3) {
  padding: 0 20px;
}

.simple-keyboard.myTheme1 .hg-button {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px -1px rgb(238, 238, 238);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: cyan;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: cyan;
}

.wrapInput {
  text-align: center;
  margin-bottom: 10px;
}

.wrapInput input {
  background: hsla(0, 0%, 100%, 0.9);
  border: 0px;
  box-shadow: 0 0 4px -1px rgb(238, 238, 238);
  box-sizing: border-box;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  height: 40px;
  padding: 5px 25px;
  outline: none;
  transition: all 0.3s;
  width: 40%;
}

.wrapInput input:active,
.wrapInput input:focus {
  background-color: white;
}

.closeKeyboard {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
}

/* custom size buttons */
.hg-button-space {
  width: 130px;
}

.hg-button-bksp,
.hg-button-shift {
  width: 60px;
}
