* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Whitney, sans-serif;
  font-size: 24px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/Whitney-Book.woff');
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/Whitney-Bold.woff');
  font-weight: bold;
}

.nav {
  position: absolute;
  width: 100%;
  padding: 1em 2em;
  /* background: #00000040; */
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  padding-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

#business {
  background: url(../assets/images/cover-b2b.jpg) center no-repeat;
  background-size: cover;
}

.videoWrap {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}

.videoWrap video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 1353px;
  height: auto;
}

.hero {
  min-height: 550px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}

.hero h1,
.hero h2,
.hero h3 {
  font-size: 2.66em;
  line-height: 1.1em;
  font-weight: 700;
  margin: 0 0 0.25em;
  color: #fff;
  letter-spacing: 1px;
}

.hero p {
  line-height: 1.125em;
  opacity: 0.8;
  max-width: 500px;
  margin: auto;
  margin-bottom: 1.5em;
}

.btn {
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-weight: 400;
  font-size: 1.33em;
  line-height: 1em;
  padding: 0.75em 2em;
  text-decoration: none;
  display: inline-block;
}

.btn-hero {
  background-color: #ff1769;
  border: 2px solid transparent;
  transition: background ease-in-out 0.15s;
}

.btn-hero:hover {
  background: #bf0044;
}

.wrap {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
}

.align-center .wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login */
.login {
  height: 100vh;
  background: #ff1769;
  background: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 85%);
}

.login .logo {
  display: block;
  height: 75px;
  padding-top: 40px;
  cursor: pointer;
  margin: 0 auto 30px;
}

.login .vertical-form {
  margin: 0 auto;
  width: 470px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  padding-bottom: 20px;
}

.login .vertical-form legend {
  text-align: center;
  font-weight: 300;
  color: #444;
  margin: 0 auto 45px;
  font-size: 35px;
  line-height: 38px;
  text-transform: none;
  letter-spacing: 0;
}

.login .vertical-form input[type='text'],
.login .vertical-form input[type='email'],
.login .vertical-form input[type='password'],
.login .vertical-form input[type='number'],
.login .vertical-form input[type='submit'] {
  background: #fcfcfc;
  border: 2px solid #e7e7e7;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  font-size: 18px;
  transition: opacity 0.4s;
  text-align: left;
  height: auto;
  -webkit-appearance: none;
}

.login .vertical-form input[type='submit'] {
  color: white;
  background: #ff1769;
  border: 0;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
  height: auto;
  -webkit-appearance: none;
}

.login .footer {
  text-align: center;
  color: white;
  margin: 20px auto;
}

.login .footer p {
  margin-bottom: 40px;
  font-size: 18px;
}

.login .footer a {
  font-weight: 600;
  border: 0;
  padding: 0;
}
